* {
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 1.4;
}


body {
    display: flex;
    justify-content: center;
}

#content {
    width: 50%;
    border: 3px solid white;
    padding: 2% 3%;
    height: 100%;
}

hr {
    margin: 5% 0;
}

a {
    color: lightblue;
    font-weight: bold;
    text-decoration-thickness: 2px;
}

@media only screen and (max-width: 768px) {
    #content {
        width: 100%;
    }
}
